footer {
  background-image: url(/assets/images/Background_Contacts.png);
  background-size: cover;

  padding: 128px 120px 200px;

  header {
    text-align: center;
    margin-bottom: 48px;

    gap: 8px;

    h4 {
      color: var(--color-principal-purple);
    }

    h2 {
      color: var(--color-base-gray600);
    }

    p {
      color: var(--color-base-gray500);
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 10px;

    .button {
      width: 400px;
      height: 68px;
      border-radius: 8px;
      padding: 20px;
      background-color: var(--color-base-gray300);

      align-items: center;
      gap: 12px;

      p {
        width: 100%;
      }
    }

    .button:hover {
      background-color: var(--color-base-gray200);
      border: 1px solid var(--color-base-gray300)
    }
  }
}
